{% include 'head_and_foot/header.html' %}
<div class="container my-5 mt-4">
  <h2>Добро пожаловать на наш веб-сайт!</h2>
  <p>Мы рады приветствовать вас и представить наши услуги.</p>

  <div class="row">

      {% for i in country_list %}
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="{{i.image.url}}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text">{{i.descripition}}</p>
          <a href="/country_list/{{i.id}}/" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
        {% endfor %}

    <a href="{% url 'detail' %}" class="btn btn-primary">Детали</a>

    <p>В мире насчитывается 256 стран. Среди них: 196 независимых государств (признанных Украиной),
      3 государства с неопределенным статусом, 54 зависимые территории,
      3 территории с особым статусом, оговоренным в международных соглашениях.</p>

    <h1>Интересные факты о странах.</h1>
    <p>США — страна с наибольшим процентом людей в тюрьмах. Около четверти всех заключённых мира находится именно здесь. Россия занимает второе место, а Таиланд – третье.
Страна с наибольшим количеством полных людей — островное государство Науру, здесь в той или иной степени страдает от избыточного веса страдает около 95 процентов населения.
Страна с наибольшим количеством поясов — Франция, учитывая все её заморские территории. 12 часовых поясов — рекорд. В США 10 часовых поясов, в России — 7.
В стране Гуам при производстве дорожного покрытия используют кораллы.
В Канаде расположено около 60 процентов всех озёр мира. Их более трёх миллионов, и они занимают 9 процентов канадской территории.
Ливия — самая засушливая в мире страна, 99% её территории — пустыня.
Первое в мире место по производству кислорода принадлежит России благодаря сибирским лесам.
А меньше всего лесов — в Гаити. Там вырублены практически все деревья.
Самая раздробленная в мире страна – Сомали. На её территории существует полдесятка непризнанных государств.
Самая образованная в мире страна, если судить по процентному соотношению людей с высшим образованием к общей численности населения — Канада.
Самый крупный в мире город-государство — Сингапур.
А самый маленький — Ватикан (см. интересные факты о Ватикане).
Больше всего в мире языков в ходу в Папуа-Новой Гвинее, здесь в ходу более 820 языков, то есть более 12 процентов всех языков мира.
Колумбия занимает первое место в мире по уровню счастья и удовлетворённости населения, несмотря на то, что это очень бедная страна.
Самая чистая в мире страна — Исландия.
Также Исландия по ряду признаков является самой мирной страной.
А ещё она самая дружелюбная. Чтобы в этом убедиться, достаточно здесь побывать хотя бы разок
А самая недружелюбная к иностранцам страна, по итогам опроса туристов — Боливия. Второе и третье место в этом рейтинге занимают Венесуэла и Россия.
Самая богатая страна — Катар.
Самая низкая плотность населения в мире — в Монголии, на полтора квадратных километра здесь приходится всего четыре человека.
Страна с наибольшим количеством юного населения в мире — африканское государство Нигер, почти половина населения местного населения моложе шестнадцати лет.
Андорра — единственная в мире страна, где отправка почты бесплатна.
В Монако численность национального оркестра больше, чем численность армии (см. факты о Монако).
А в Коста-Рике вообще нет регулярной армии.
Самая бедная в мире страна — африканское государство Того.
А самая бедная страна в Европе — Украина.
Самая густонаселённая страна в мире — Монако, плотность населения тут превышает 16 тысяч человек на квадратный километр.</p>

  </div>
</div>

{% include 'head_and_foot/footer.html' %}
